@font-face {
      font-family: 'ubuntu';
      src: url('./font/Ubuntu.ttf');
}
* {font-family: 'ubuntu';}
html {font-size: 100%;}
body {font-size: 1em;}
body {background-color: #F9C416; padding: 0; margin: 0;}
a {color: initial; text-decoration: none;}
button {outline: none;}

header {display: flex; justify-content: center; margin-top: 50px; flex-direction: column; align-items: center;}
header img {}

nav {margin-top: 20px; display: flex; justify-content: center;}

main {margin-top: 20px;}

nav button {
	background-color: rgba(0,0,0,0); 
	padding: 5px 10px 5px 10px; 
	width: 220px; 
	margin: 0 20px 0 20px;
	border: solid 3px #000; 
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	font-size: 2em;
	cursor: pointer;
	transition-duration: 0.3s;
}
nav button:hover, nav button:first-child {
	background-color: #000;
	color: #F9C416;
}

#htw, #cours, #datesCtn
{display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 30px;}

#htw a, #cours a {
	display: inline-block; 
	background-color: #000;
	font-size: 1.5em; 
	color: #F9C416; 
	border-radius: 10px; 
	margin: 7px;
	padding: 5px 10px 5px 10px;
	border: solid 2px #000;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	transition-duration: 0.3s;
}
#htw a:hover, #cours a:hover, #addDateButton:hover {border: solid 2px #000; color: #000; background-color: rgba(0,0,0,0);}

#cours, #datesCtn {display: none;}




.intersection {background-color: #000; height: 3px; width: 40px; border-radius: 20px; opacity: 0.3;}

#addDateButton {
	background: #000; 
	color: rgb(249, 196, 22);
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	padding: 5px 10px;
	margin: 20px 0;
	border: solid 2px #000;
	transition-duration: 0.3s;
}
#datesCtn #dates {
	display: flex; 
	border: solid 2px #000; 
	margin: 10px 0; 
	border-radius: 15px; 
	width: 50%; 
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
#datesCtn #text {display: flex; align-items: center; padding: 0 10px; font-size: 1.2rem;}
#datesCtn #datesString {
	background: #000; 
	color: rgb(249, 196, 22); 
	padding: 10px; 
	border-radius: 10px 0 0 10px;
	min-width: 15%;
}
#datesCtn #datesString p {margin: 0; font-size: 1rem; text-align: center;}
#datesCtn #datesString p:nth-child(1) {font-size: 1.2rem;}
#datesCtn #datesString p:nth-child(2) {font-size: 2.3rem;}
#datesCtn #datesString p:nth-child(3) {font-size: 0.8rem;}


@media only screen and (max-width: 768px){

body {font-size: 0.7em;}
header {margin-top: 20px;}
nav {font-size: 0.7rem;}
nav button {padding: 10px 0 10px 0; margin: 5px;}
img {width: 40%;}

#addDateButton {margin-top: 0;}
#datesCtn #dates {width: 90%;}
#datesCtn #text {font-size: 1rem;}
#datesCtn #datesString p:nth-child(1) {font-size: 0.8rem;}
#datesCtn #datesString p:nth-child(2) {font-size: 2.1rem;}
#datesCtn #datesString p:nth-child(3) {font-size: 0.6rem;}

}



/*---- LET IT SNOW TROLL ----*/
/*https://codepen.io/jpschwinghamer/pen/QwwbgO*/
.snow-container {
  position: absolute;
  height: 99%;
  width: 100%;
  max-width: 100%;
  top: 0;
  overflow: hidden;
  z-index: -2;
  pointer-events: none;
}

.snow {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-animation: snow linear infinite;
          animation: snow linear infinite;
}
.snow.foreground {
  background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}
.snow.foreground.layered {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}
.snow.middleground {
  background-image: image-url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png");
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}
.snow.middleground.layered {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.snow.background {
  background-image: image-url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png");
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}
.snow.background.layered {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

@-webkit-keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(15%, 100%, 0);
            transform: translate3d(15%, 100%, 0);
  }
}

@keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(15%, 100%, 0);
            transform: translate3d(15%, 100%, 0);
  }
}
